.first-container {
    background-color: #fad6cf;
    height: 300px;
    width: 150px;
}

.second-container {
    background-color: #804aec;
    height: 300px;
    width: 150px;
}

.third-container {
    background-color: #dcbff9;
    height: 500px;
    width: 150px;
}


h1{
    color: white;
    font-size: 2rem
}

.first-container, .second-container, .third-container{
    border-radius: 10px;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    align-items: center;
    display: flex;

}



p{
    text-align: center;
    font-size: 1.5rem;
    font-family:  "Open Sans", sans-serif;
    
}

img {
    width: 100px;
}

.stadistics-image{
    height: 200px;
    width: 150px;
}

/* @media (min-width: 300px) {
    .container {
        height: 200px;
        width: 100px;
    }

    .heading {
        font-size: 1rem;
    }

    .image {
        width: 50px;
    }
} 

@media (min-width: 900px) {
    .container {
        height: 400px;
        width: 200px;
    }

    .heading {
        font-size: 1.5rem;
    }

    .image {
        width: 150px;
    }
}

*/